# Xcode
DerivedData/
build/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/

# Firebase
GoogleService-Info.plist

# CocoaPods
Pods/

# macOS
.DS_Store
*.swp
*~

# Secrets
*.pem
*.p12
*.key
